@use "../../styles/mixins.scss" as mixins;

.techSection {
  padding: 100px 0;
  position: relative;
  min-height: 580px;
  max-width: 1900px;
  margin: 0 auto 270px;
}

.titleBlock {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 670px;
  background: #002010;
  margin-bottom: 124px;

  @include mixins.corner-squares(#07e0b0, 14px);

  .squareTl {
    @extend .square-tl;
  }

  .squareTr {
    @extend .square-tr;
  }

  .squareBl {
    @extend .square-bl;
  }

  .squareBr {
    @extend .square-br;
  }
}

.title {  
  font-family: 'Orbitron';
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}