@use "../../styles/mixins.scss" as mixins;

.devExpSection {
  padding: 100px 0;
  margin-bottom: 64px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.left  {
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  margin: 0 auto;
}

.right {
  flex: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  max-height: 460px;
}

.rightTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBottom {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 320px;
  background: #002010;

  @include mixins.corner-squares(#07e0b0, 14px);

  .squareTl {
    @extend .square-tl;
  }

  .squareTr {
    @extend .square-tr;
  }

  .squareBl {
    @extend .square-bl;
  }

  .squareBr {
    @extend .square-br;
  }
}

.count {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 235px;
  line-height: 130%;
  text-transform: uppercase;
  color: #E4E4E4;

  &:nth-child(3) {
    margin-top: -180px;
  }

  &:nth-child(1) {
    background: linear-gradient(180deg, #FFFFFF 0%, #011301 80.5%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &:nth-child(2) {
    background: linear-gradient(180deg, #FFFFFF 0%, #011301 80.5%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: -180px;
  }
}

.arrowIcon {
  margin-right: 32px;
}

.rightTopText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mediumText {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #E4E4E4;
}

.boldText {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 130%;
  color: #E4E4E4;
}

.devText {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #E4E4E4;
  margin-bottom: 10px;
}

.description {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #E4E4E4;
}