* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #07E0B0;
  --secondary-color: #036547;
  --dark-background: #011301;
  --light-text: #ffffff;
  --section-spacing: 50px;
}

body {
  font-family: 'IBM Plex Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-background);
  color: var(--light-text);
  line-height: 1.5;
  overflow-x: hidden;
}

.appContainer {
  position: relative;
  width: 100%;
}

.middleContent {
  position: relative;
  z-index: 1;
}

.bgCode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/public/images/backgrounds/bg-code.png');
  background-size: cover;
  background-position: bottom;
}

:global {
  .btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 14px;
    border-radius: 4px;
  }

  .primary {
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
  }


}
